################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Yuki/bin/Debug/netcoreapp2.2
/Yuki/obj
/Yuki/bin/Debug/netcoreapp2.1
/obj
